.ddlshow{
    padding-bottom: 4px;
    width:350px;
}

.divButton {
    background-color: #ECE7E6;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px;
    opacity: 0.6;
    transition: 0.3s;
  }

 .divButton:hover {opacity: 1}

.largeur{
  width:350px;
  padding:0px;
  margin: 0px 0px 0px 0px;
}


.rv-control-active {
  background-color: rgba(200, 200, 200, 0.5);
  clip-path: circle(15px at center);
}

.rv-mapnav-draw-content {
  padding-bottom: 30px;

  .rv-draw-button {
    margin: 0px!important;
  }
}

// overrides vanilla-picker
.popup.popup_left {
  top:  -170px!important;

  .picker_arrow {
    top: 60%!important;
  }
}

.rv-draw-text-hide {
  visibility: hidden;
}