

// Geosys-section title
.Geosys-section {
  padding: 4px 16px;
  text-align: left;
  font-size: 20px;
  margin: 0px 0px;
  border-bottom: solid;
  border-color: black;
}

// Bouton du menu
.Geosys-div-Button {
  background-color: #7cdaeb;
  border: none;
  padding: 4px 16px;
  text-align: left;
  font-size: 10px;
  margin: 0px 0px;
  opacity: 0.6;
  cursor: pointer;
  
}

// Lors du hover du bouton du menu
.Geosys-div-Button:hover {
  opacity: 1;
  transition: 0.3s;
}

//Bouton du menu
.Geosys-div-Button-Uti {
  background-color: #8797dd;
  border: none;
  padding: 4px 16px;
  text-align: left;
  font-size: 10px;
  margin: 0px 0px;
  opacity: 0.6;
  cursor: pointer;
  
}

// Lors du hover du bouton du menu
.Geosys-div-Button-Uti:hover {
  opacity: 1;
  transition: 0.3s;
}


// Class for thw witdh of input
.Geosys-largeur {
  width: 350px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  max-height: 50px;
  
}

// For the top menu
.Geosys-topmenu {
  width: 380px;
  height: 40px;
}

// Block environnement of the Geosys-topmenu
.Geosys-envDiv {
  width: 60%;
  height: 40px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-color: rgb(247, 247, 247);
  
}

// Set a space between dropdown dans header
.Geosys-envSelect {
  margin-top: 5px;
}

// Button for the info user
.Geosys-infoDiv {
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ECE7E6;
  opacity: 0.4;
}

// Hover of button info user
.Geosys-infoDiv:hover {
  opacity: 1;
  transition: 0.3s;
}

// Button for help 
.Geosys-helpDiv {
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #ECE7E6;
  opacity: 0.4;
}

.Geosys-helpDiv:hover {
  opacity: 1;
  transition: 0.3s;
}

// Set a space for de dropdown of angular
.Geosys-ddlshow {
  padding-bottom: 4px;
  width: 350px;
}

// Set space for the dropdown of extract
.Geosys-ddlshowEX {
  padding-bottom: 4px;
  width: 350px;
  margin-bottom: 0px;
}

/** CSS for the field classes  **/
.Geosys-list-classes {
  height : 30px;
  width : 330px;
}

.Geosys-div-classe {
  height: 95px;
  width: 354px;
  overflow-y: scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
  resize: vertical;
  min-height: 30px;
}

.Geosys-planning {
  height: 95px;
  width: 354px;
  overflow-y: scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
  margin-left: 5px;
  resize: vertical;
  min-height: 30px;
}

.Geosys-itemlist {
  padding: 0px;
  margin: 0px;
  max-height: 30px;
  min-height: 30px;
  width: 325px;
 }

.Geosys-classeslist {
  max-height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

.Geosys-errormess {
  color: red;
  opacity: 1;
  
}

.Geosys-sizeerror {
  font-size: 12px;
}

// For extraction
.Geosys-classeslistEX {
  max-height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

.Geosys-largeurlist {
  max-height: 30px;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  width: 295px;
}

.Geosys-checklist {
  max-height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: right ;
}

.Geosys-cbAlone {
  margin: 10px 0px 10px 0px;
  width: 350px;
  padding: 0px 0px 0px 0px;
  max-height: 50px;
}

.Geosys-advanced {
  margin-top: 10px;
  opacity: 0.5;
}
// For the field of the date
.Geosys-datfinfield {
  width: 350px;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  max-height: 50px;
}
.md-datepicker-input-container {
  width: 280px;
}
// For teh submit button
.Geosys-submitbtn {
  margin-top: 15px;
  margin-bottom: 0px;
  height: 50px;
  width: 352px;
}
.Geosys-centerText {
  text-align: center;
}
//set a minimum height for the form
.Geosys-extractspace {
  min-height: 150px;
}
.Geosys-btnShape {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  float: right;
}
.Geosys-btnCopy {
  margin: 0px 0px 0px 5px;
  padding: 0px;
}
.Geosys-inputshape {
  max-width: 200px;
  padding-top: 10px;
}
.Geosys-query {
  min-height: 60px;
  width: 350px;
}
/********** File Manager **********/
/**** breadcrumbs ****/
.Geosys-topcover {
  position: sticky;
  top: 0px;
  background-color: white;
  opacity: 1;
  height: 10px;
  width: 100%;
  z-index: 200;
}
.Geosys-sticky-Header {
  position: sticky;
  top: 10px;
  background-color: white;
  opacity: 1;
  z-index: 300;
}
.Geosys-backing {
  margin-left: 0px;
  float: left;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 2px;
  border-right: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
  padding-bottom: 5px;
  cursor: pointer;
}
.Geosys-backing:hover {
  transition: 0.5s;
  background-color: silver;
}
.Geosys-breadclass {
  width: 99%;
  padding: 10px 0px 10px 5px;
  background-color: aliceblue;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
}
.Geosys-breadClick {
  background-color: aliceblue;
  padding-top: 11px;
  padding-bottom: 12px;
  border-radius: 2px; 
  cursor: pointer;
}
.Geosys-breadClick:hover {
  transition: 0.5s;
  background-color: silver;
  text-decoration: underline;
}
/**** Header ****/
.Geosys-header-File {
  width: 99%;
  margin-top: 3px;
  border-style: solid;
  border-width: 2px;
  //border-radius: 5px;
  border-color: lightgrey;
  margin-bottom: 3px;
}
.Geosys-name-File-Folder-Header {
  width: 225px;
  display: inline-flex;
  padding-left: 2px;
}
.Geosys-modified-File-Folder-Header {
  width: 150px;
  display: inline-block;
  border-left: 2px solid;
  border-color: lightgrey;
  padding-left: 2px;
}
.Geosys-size-File-Folder-Header {
  width: 100px;
  display: inline-block;
  border-left: 2px solid;
  border-color: lightgrey;
  padding-left: 2px;
}
/**** Folder ****/
.Geosys-folderBtn {
  width: 99%;
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  opacity: 0.6;
  cursor: pointer;
}
// lors du hover du bouton du menu
.Geosys-folderBtn:hover {
  opacity: 1;
  background-color: #e7e6e6;
  transition: 0.4s;
}
/**** Files ****/
.Geosys-fileBtn {
  width: 99%;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.6;
}
// lors du hover du bouton du menu
.Geosys-fileBtn:hover {
  opacity: 1;
  background-color: #f7f5f5;
  transition: 0.3s;
}
/**** Folder and Files ****/
.Geosys-groupingInfo {
  width: 100%;
}
.Geosys-name-File-Folder {
  width: 200px;
  display: inline-flex;
}
.Geosys-modified-File-Folder {
  width: 150px;
  display: inline-block;
}
.Geosys-size-File-Folder {
  width: 100px;
  display: inline-block;
}
.Geosys-downloadbtn {
  padding-top: 10px;
  padding-left: 8px;
  width: 40px;
  height: 45px;
  float: right;
  cursor:pointer;
  //transition: 0.4s;
}
.Geosys-downloadbtn:hover {
  background-color: rgb(204, 203, 203);
  transition: 0.4s;
}
.Geosys-lilPad{
  padding-top: 10px;
}
/******* Geometry *******/
.Geosys-geom-Menu {
  padding-top: 13px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
}
.Geosys-geom-input {
  margin-bottom: 0px;
  width: 150px;
}
.Geosys-espg-input {
  margin-bottom: 0px;
  width: 50px;
}
.Geosys-geom-DivIn {
  height: 50px;
}
.Geosys-geom-DivIn1 {
  height: 50px;
}
.Geosys-geom-CB {
  padding-top: 20px;
  float: left;
  margin-bottom: 0px;
}
.Geosys-containerclass1 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 250px;
  height : 40px
}
.Geosys-containerclass12 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50px;
  height : 40px
}
.Geosys-containerclass{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 340px;
}
.Geosys-drop-window {
	position: fixed;
	top: 100px;
	left: 450px;
	right: 50px;
	bottom: 100px;
	background: rgba(0,86,132,.9);
	z-index: 250000;
	display: none;
	text-align: center;
	-webkit-transition: opacity 250ms;
	transition: opacity 250ms;
  pointer-events: none;
}
.Geosys-drop-window-content {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dashed #fff;
}
.Geosys-drop-window h3 {
	margin: -.5em 0 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 40px;
	color: #fff;
	padding: 0;
}
.Geosys-hidden-upload {
  display: none;
}
/*********************** Portail CSS **************************/
.titleportail {
  color: blue;
  padding-left: 5%;
}
.sideMenu {
  background-color: #72f6fa54;
  width: 30%;
  border-style: double;
  border-color: black;
  border-radius: 10px;
}
.teampage {
  padding-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.teampage:hover {
  text-decoration: underline;
  color: purple;
}
.noref {
  color: black;
  text-decoration: none;
}
.opac {
  opacity: 0.5;
}
/*************************** help doc CSS ************************************/
.clicksectionTitle {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:10px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  opacity: 0.5;
}
.clicksectionTitle:hover {
  opacity: 1;
  background-color: ivory;
  transition: 0.4s;
}
.clicksectionSection {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left:10px;
  padding-left:10px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  opacity: 0.5;
}
.clicksectionSection:hover {
  opacity: 1;
  background-color: ivory;
  transition: 0.4s;
}
.clicksectionForm {
  margin-left:20px;
  padding-left:10px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  opacity: 0.5;
}
.clicksectionForm:hover {
  opacity: 1;
  background-color: ivory;
  transition: 0.4s;
}