

//Section title
.section{
  padding: 4px 16px;
  text-align: left;
  font-size: 20px;
  margin: 0px 0px;
  border-bottom: solid;
  border-color: black;
}

//Bouton du menu
.divButton {
  background-color: #7cdaeb;
  border: none;
  padding: 4px 16px;
  text-align: left;
  font-size: 10px;
  margin: 0px 0px;
  opacity: 0.6;
  
}

// lors du hover du bouton du menu
.divButton:hover {opacity: 1;transition: 0.3s;}

//Bouton du menu
.divButtonUti {
  background-color: #8797dd;
  border: none;
  padding: 4px 16px;
  text-align: left;
  font-size: 10px;
  margin: 0px 0px;
  opacity: 0.6;
  
}

// lors du hover du bouton du menu
.divButtonUti:hover {opacity: 1;transition: 0.3s;}


// class for thw witdh of input
.largeur{
  width:350px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  max-height: 50px;
  
}

//for the top menu
.topmenu{
  width: 380px;
  height: 40px;
}

//block environnement of the topmenu
.envDiv{
  width: 60%;
  height: 40px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-color: rgb(247, 247, 247);
  
}

//set a space between dropdown dans header
.envSelect{
  margin-top: 5px;
}

//button for the info user
.infoDiv{
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ECE7E6;
  opacity: 0.4;
}

//hover of button info user
.infoDiv:hover{
  opacity: 1;
  transition: 0.3s;
}

//button for help 
.helpDiv{
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #ECE7E6;
  opacity: 0.4;
}

.helpDiv:hover{
  opacity: 1;
  transition: 0.3s;
}

//set a space for de dropdown of angular
.ddlshow{
  padding-bottom: 4px;
  width:350px;
}

// set space for the dropdown of extract
.ddlshowEX{
  padding-bottom: 4px;
  width:350px;
  margin-bottom: 0px;
}

/** CSS for the field classes  **/
.listClasses{
  height : 30px;
  width : 330px;
}

.divclasse{
  height:95px;
  width: 354px;
  overflow-y:scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
  resize: vertical;
  min-height: 30px;
}

.planning{
  height:95px;
  width: 354px;
  overflow-y:scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
  margin-left: 5px;
  resize: vertical;
  min-height: 30px;
}

.itemlist{
  padding:0px;
  margin: 0px;
  max-height: 30px;
  min-height: 30px;
  width: 325px;
 }

.classeslist{
  max-height: 40px;
  padding:0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

.errormess{
  color: red;
  opacity: 1;
  font-size: 10px;
}

//for extraction
.classeslistEX{
  max-height: 40px;
  padding:0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

.largeurlist{
  max-height: 30px;
  padding:0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  width: 295px;
}

.checklist{
  max-height: 30px;
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: right ;
}

.cbAlone{
  margin: 10px 0px 10px 0px;
  width:350px;
  padding: 0px 0px 0px 0px;
  max-height: 50px;
}

.advanced{
  margin-top: 10px;
  opacity: 0.5;
}

/***** ********/

//For the field of the date
.datfinfield {
  width:350px;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  max-height: 50px;
}

.md-datepicker-input-container {
  width: 280px;
}


//For teh submit button
.submitbtn{
  margin-top: 15px;
  margin-bottom: 0px;
  height: 50px;
  width: 352px;
}

.centerText{
  text-align: center;
}

//set a minimum height for the form
.extractspace{
  min-height: 150px;
}

.btnShape{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  float: right;
}

.btnCopy{
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

.inputshape{
  max-width: 200px;
  padding-top: 10px;
}


/********** File Manager **********/
/**** breadcrumbs ****/
.breadclass{
  width: 96%;
  margin-top: 10px;
  padding: 10px 0px 10px 5px;
  background-color: aliceblue;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
}

/**** Header ****/
.headerFile{
  width: 96%;
  margin-top: 3px;
  border-style: solid;
  border-width: 2px;
  //border-radius: 5px;
  border-color: lightgrey;
  margin-bottom: 3px;
}

.nameFileFolderHeader{
  width:225px;
  display: inline-flex;
  padding-left: 2px;
}

.modifiedFileFolderHeader{
  width:150px;
  display: inline-block;
  border-left: 2px solid;
  border-color: lightgrey;
  padding-left: 2px;
}

.sizeFileFolderHeader{
  width:100px;
  display: inline-block;
  border-left: 2px solid;
  border-color: lightgrey;
  padding-left: 2px;
}
/**** Header ****/

/**** Folder ****/
.folderBtn {
  width: 96%;
  padding: 0px 0px 0px 10px;
  
  //text-align: center;
  font-size: 15px;
  //margin: 5px 0px;
  opacity: 0.6;
  //transition: 0.4s;
  
}

// lors du hover du bouton du menu
.folderBtn:hover {
  opacity: 1;
  background-color: #e7e6e6;
  transition: 0.4s;
}
/**** Folder ****/

/**** Files ****/
.fileBtn {
  width: 96%;
  padding: 0px 0px 0px 10px;
  
  //text-align: center;
  font-size: 15px;
  //margin: 5px 0px;
  opacity: 0.6;
  //transition: 0.3s;
  
}

// lors du hover du bouton du menu
.fileBtn:hover {
  opacity: 1;
  background-color: #f7f5f5;
  transition: 0.3s;
}
/**** Files ****/

/**** Folder and Files ****/
.groupingInfo{
  width: 100%;
}

.nameFileFolder{
  width:200px;
  display: inline-flex;
}

.modifiedFileFolder{
  width:150px;
  display: inline-block;
}

.sizeFileFolder{
  width:100px;
  display: inline-block;
}

.downloadbtn{
  padding-top: 10px;
  padding-left: 8px;
  width:40px;
  height: 45px;
  float: right;
  //transition: 0.4s;
}

.downloadbtn:hover{
  background-color:rgb(204, 203, 203);
  transition: 0.4s;
}

.lilPad{
  padding-top: 10px;
}
/**** Folder and Files ****/

/******* Dropzone *******/


/******* Geometry *******/
.geomMenu{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;

}

.geominput{
  margin-bottom: 0px;
  width:250px;
}

.geomDivIn{
  height:50px;
  
}

.geomDivIn1{
  height:50px;
}

.geomCB{
  padding-top: 20px;
  float: left;
  margin-bottom: 0px;
}

.containerclass1{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
  height : 40px
}

.containerclass{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 340px;
}

.drop-window {
	position: fixed;
	top: 100px;
	left: 450px;
	right: 50px;
	bottom: 100px;
	background: rgba(0,86,132,.9);
	z-index: 250000;
	display: none;
	text-align: center;
	-webkit-transition: opacity 250ms;
	transition: opacity 250ms;
  pointer-events:none;
}

.drop-window-content {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dashed #fff;
}

.drop-window h3 {
	margin: -.5em 0 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 40px;
	color: #fff;
	padding: 0;
}

.hiddenupload{
  display: none;
}
/*********************** Portail CSS **************************/
.titleportail{
  color: blue;
  padding-left: 5%;
}

.sideMenu{
  background-color: #72f6fa54;
  width: 30%;
  border-style: double;
  border-color: black;
  border-radius: 10px;
}

.teampage{
  padding-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.teampage:hover{
  text-decoration: underline;
  color:purple;
}

.noref{
  color: black;
  text-decoration: none;
}
