
//Bouton du menu
.divButton {
  background-color: #969696;
  border: none;
  padding: 4px 16px;
  text-align: center;
  font-size: 12px;
  margin: 0px 0px;
  opacity: 0.6;
  transition: 0.3s;
}

// lors du hover du bouton du menu
.divButton:hover {opacity: 1}


// class for thw witdh of input
.largeur{
  width:350px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  max-height: 50px;
  
}

//for the top menu
.topmenu{
  width: 380px;
  height: 40px;
}

//block environnement of the topmenu
.envDiv{
  width: 60%;
  height: 40px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-color: rgb(247, 247, 247);
  
}


//set a space between dropdown dans header
.envSelect{
  margin-top: 5px;
}

//button for the info user
.infoDiv{
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ECE7E6;
  opacity: 0.4;
  transition: 0.3s;
}

//hover of button info user
.infoDiv:hover{
  opacity: 1;
}

//button for help 
.helpDiv{
  width: 20%;
  height: 40px;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #ECE7E6;
  opacity: 0.4;
  transition: 0.3s;
}

.helpDiv:hover{
  opacity: 1;
}

//set a space for de dropdown of angular
.ddlshow{
  padding-bottom: 4px;
  width:350px;
}

// set space for the dropdown of extract
.ddlshowEX{
  padding-bottom: 4px;
  width:350px;
  margin-bottom: 0px;
}

/** CSS for the field classes  **/
.listClasses{
  height : 30px;
  width : 330px;
}

.divclasse{
  height:100px;
  width: 354px;
  overflow-y:scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
}

.planning{
  height:100px;
  width: 354px;
  overflow-y:scroll;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ECE7E6;
  margin-left: 5px;
}

.itemlist{
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  max-height: 30px;
  min-height: 30px;
  width: 325px;
 }

.classeslist{
  max-height: 40px;
  padding:0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

//for extraction
.classeslistEX{
  max-height: 40px;
  padding:0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 320px;
}

.largeurlist{
  max-height: 30px;
  padding:0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  width: 295px;
}

.checklist{
  max-height: 30px;
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: right ;
}

.cbAlone{
  margin: 10px 0px 10px 0px;
  width:350px;
  padding: 0px 0px 0px 0px;
  max-height: 50px;
}

.advanced{
  margin-top: 10px;
  opacity: 0.5;
}

/***** ********/

//For the field of the date
.datfinfield {
  width:350px;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  max-height: 50px;
}

.md-datepicker-input-container {
  width: 280px;
}



//For teh submit button
.submitbtn{
  margin-top: 15px;
  margin-bottom: 0px;
  height: 50px;
  width: 352px;
}

.centerText{
  text-align: center;
}

//set a minimum height for the form
.extractspace{
  min-height: 150px;
}

.btnShape{
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.btnCopy{
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

.inputshape{
  max-width: 250px;
}

/******* Arrow down **********/
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}